@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1 {
  font-family: 'Lobster', cursive;
  text
  text-align: center;
  padding-bottom: 5%;
  font-weight: 500;
  line-height: 1.1;
  color: #ad1d28;
}

div.col-sm-12 {

  border-radius: 0 0 50% 50%;
  background-color:#dddddd;

.form-group.shiny-input-containter {
  margin:auto;
}

#location.form-control.shiny-bound-input {
  text-align: center;
}

#job.form-control.shiny-bound-input {
  text-align: center;
}

div#search_bar.search_bar_panel{
  top:-110px;
}

h4 {
  font-family: 'Lobster', cursive;
  text-align: center;
  padding-bottom: 5%;
  font-weight: 500;
  line-height: 1.1;
  color: #ad1d28;
}

body {
  background-color: #fff;
}


