@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  padding-bottom: 5%;
  font-weight: 500;
  line-height: 1.1;
  color: #ad1d28;
}

#search_bar.search_bar_panel {
  width: 100%;
  padding-top: 8%;
}

.form-group.shiny-input-containter {
  margin:auto;
}

#location.form-control.shiny-bound-input {
  text-align: center;
}

#job.form-control.shiny-bound-input {
  text-align: center;
}

button#go {
  
}

h4 {
  font-family: 'Lobster', cursive;
  text-align: center;
  padding-bottom: 5%;
  font-weight: 500;
  line-height: 1.1;
  color: #ad1d28;
}

body {
  background-color: #fff;
}

svg {
	height:0px;
}

@media(min-width:1000px){
button#go {
	display:inline-block;
	margin: 5%;
}
button#go {
margin-left: 30%;
margin-right: 30%;
text-align: center;
}
}
@media(max-width:1200px){
button#go {
  margin-top: 25px;
	margin-bottom: 0px;
  text-align: center;
	}}

button#go{
  z-index: 1;
  position: relative;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  background-color: darkgray;
  outline: none;
  border: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
}
button#go {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 6px solid #333;
}
button#go {
  content: "";
  z-index: -2;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}
button#go {
  color: white;
}
button#go {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
  top: 0;
}
button#go {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
button#go {
  position: relative;
  display: block;
  height: 100%;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}
button#go {
  position: absolute;
  top: 6px;
  width: 25%;
  height: 100%;
  background: #333;
  border-radius: 100%;
  -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
          transform: translate3d(0, 150%, 0) scale(1.7);
  -webkit-transition: -webkit-transform 0.45s;
  transition: -webkit-transform 0.45s;
  transition: transform 0.45s;
  transition: transform 0.45s, -webkit-transform 0.45s;
}
@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
  button#go {
    -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
            transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
button#go:nth-child(1) {
  left: 0%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
button#go:nth-child(2) {
  left: 30%;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}
button#go:nth-child(3) {
  left: 60%;
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}
button#go:nth-child(4) {
  left: 90%;
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}
button#go:hover .blob-btn__blob {
  -webkit-transform: translateZ(0) scale(1.7);
          transform: translateZ(0) scale(1.7);
}
@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
button#go:hover .blob-btn__blob {
    -webkit-transform: translateZ(0) scale(1.4);
            transform: translateZ(0) scale(1.4);
  }
}


